@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family:'Rubik', 'sans-serif';
}

body {
  background-image: url('./assets/images/Background.svg');
  background-repeat: inherit;

}

